.containerSidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(-3%);
  right: -1;
  width: 300px;
  height: 1400;

  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  margin-top: -8px;
}

.toggleVisible {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(0%);
  top: 88px;
  right: 0px;
  width: 100%;
  height: auto;
  border: 2px solid #F4F4F4;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
  z-index: 3;
  cursor:pointer;
}

.textBurgerToggle{
  font-size: 16px;
  color:#929292;
}


.textBurgerToggle:hover{
  color:white;
}
.archiveBtnOff{
  display: flex;
  box-sizing: unset;
  padding:2.1em;
  width: auto;
  color:white;
  background: black;
  border: none;
  margin-right: 4px;
  height:15px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  outline: none;
}
.archiveBtnOff:hover{
  background: #40015e;
  color:white;
}

.archiveBtnOn{
  display: flex;
  box-sizing: unset;
  padding:2.1em;
  width: auto;
  color:white;
  background: black;
  border: none;
  margin-right: 4px;
  height:15px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  outline: none;
}
.archiveBtnOn:hover{
  background: #40015e;
  color:white;
}

.oli{
  text-decoration: none;
}

.containerLogoAaccen{
  display: flex;
  box-sizing: unset;
  padding:3em;
  width: auto;
  color:white;
  background: black;
  border: none;
  margin-right: 4px;
  height:15px;
  justify-content: center;
  align-items: center;
 
}
.logoAccen{
  width: 40%;
}

.logossider{
  width: 20%;
      }
.containerLogos{

 display: flex;
 box-sizing: unset;
 padding:2.5em;
 width: auto;
 color:white;
 background: black;
 border: none;
 margin-right: 4px;
 height:15px;
 justify-content: center;
 align-items: center;
 font-size: 18px;
 outline: none;
}
.containerLogos:hover{
  background: #40015e;
  color:white;
}
@media screen and (min-width:1024px){
  .toggleHidden {
    flex-direction: row;
    position: relative;
    transform: translateX(0%);
    width: auto;
    transition: none;
    box-sizing: inherit;
    margin-right: 10px;
    border: none;
    background: rgba(145, 145, 145, 0.4);
    top:0px;
  }
  .toggleVisible {
    flex-direction: row;
    position: relative;
    top: 0px;
    right: -1;;
    width: auto;
    height: 15px;
    border: none;
    box-sizing: border-box;
    transition: none;
    z-index: 3;
    margin-right: 10px;
    color:white;
    background: rgba(145, 145, 145, 0.4);
  }

  .textBurgerToggle{
    font-size:20px;
    color: white;
  }
  
}
.containerLogoAaccen{
  display: flex;
  box-sizing: unset;
  padding:3em;
  width: auto;
  color:white;
  background: black;
  border: none;
  margin-right: 4px;
  height:15px;
  justify-content: center;
  align-items: center;
 
}
.logoAccen{
  width: 40%;
}