#gridContainer{
  flex-direction: row;
  position: relative;
  top: -117em;
  width: 48em;
  height: 38.9em;
  margin-inline-start: 22em;
   
   
  }
  .dx-icon-edit-button-addrow::before {
    content: "";
    color: purple;
}

element.style {
  width: 30%;
}


.ContainerT{
  display: flex;
  flex-direction:column ;
  align-content: flex-end;
  justify-content: end;
  width:auto;
  height: auto;
  
}

.Tickets{
font-size: 20em;
border: solid 2px purple;
border-radius: 30%;
}
.Excel{
  font-size: 20em;
 
border: solid 2px purple;
border-radius: 30%;
}
.Date{
          font-size: 20em;
          font-size: 20em;
border: solid 2px purple;
border-radius: 55%;
        }

