#gridContainer{
  flex-direction: row;
  position: relative;
  top: -50em;
  width: 107em;
  height: 41em;
  margin-inline-start: 22em;
   
   
  }
  .dx-icon-edit-button-addrow::before {
    content: "";
    color: purple;
}



